<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style type="text/css">
        table th td {
            border: 1px
            solid-color: black;
            overflow-y: scroll;
        }

        th {

        }
    </style>
    <meta charset="UTF-8">
    <title>产品单一接口测试</title>
</head>
<body>
<div style="float:right;width:15%">
    <a style='color:blue' class="related-widget-wrapper-link add-related" id="add_id_Apis" href="/admin/apitest/apis/add/?_to_field=id&amp;_popup=1" title="增加另一个接口测试">
        <img src="/static/admin/img/icon-addlink.svg" alt="增加"/>增加
    </a>

</div>

{#搜索栏#}
<div class="page-header" style="padding-top:70px;padding-left: 20px;">
    <form class="navbar-form" method="get" action="/apisearch/">
        {% csrf_token %}
        <input type="search" name="apitestname" placeholder="名称" required>
        <button type="submit">搜索</button>
    </form>
</div>
<div id="navbar" class="collapse navbar-collapse">
    <ul class="'nav navbar-nav navbar-right">
        <li><a href="#">{{ user }}</a></li>
        <li><a href="/logout/">退出</a></li>

    </ul>
</div>
{#<a class="related-widget-wrapper-link change-related" id="change_id_Apis" data-href-template="/admin/apitest/apis/__fk__/change/?_to_field=id&amp;_popup=1" title="更改选中的测试用例">#}
{#<img src="/static/admin/img/icon-changelink.svg" alt="修改"/>#}
{#</a>#}

</a>
<div class="row table-responsive" style="padding-top: 150px;padding-right: 30px;padding-left:20px;">
    <div class="col-md-11 " style="overflow-y: auto;">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>产品</th>
                <th>单一接口测试用例名称</th>
                <th>URL地址</th>
                <th>参数=值</th>
                <th>方法</th>
                <th>预计结果</th>
                <th>测试结果</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for api in apis %}
                <tr>
                    <td>{{ api.id }}</td>
                    <td>{{ api.product }}</td>
                    <td>{{ api.apiName }}</td>
                    <td>{{ api.apiUrl }}</td>
                    <td>{{ api.apiParamValue }}</td>
                    <td>{{ api.apiMethod }}</td>
                    <td>{{ api.apiResult }}</td>
                    <td>{{ api.apiStatus }}</td>
                    <td>{{ api.create_time }}</td>
                    <td><a class="related-widget-wrapper-link add-related" id="add_id_Apis" href="../admin/apitest/apis/{{ apis.id }}/change/?_to_field=id&_popup=1"><img
                            src="/static/admin/img/icon-changelink.svg"/></a>
                        <a class="related-widget-wrapper-link add-related" id="add_id_Apis" href="../admin/apitest/apis/{{ apis.id }}/delete/?_to_field=id&_popup=1"><img
                                src="/static/admin/img/icon-deletelink.svg"/></a></td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>