<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>聪哥的自动化测试平台</title>
{#    <li>欢迎{{ user }}来到聪哥的自动化测试平台</li>#}
{#    <li><a href="/logout/">退出</a></li>#}
</head>
<frameset id="frame1" rows="*" cols="265,*" framespacing="0" frameborder="yes" border="0">
    <frame src="../left" name="leftFrame" scrolling="auto" noresize style="background: gold">
    <frame src="../apis_manage" name="mainFrame" scrolling="auto" noresize>
</frameset>
<noframes>
    <body>

    </body>
</noframes>
</html>