<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top"></nav>
<table border="0" ">
    <tr>
        <td><a href="../bug_manage" target="mainFrame">&nbsp;&nbsp;测试用例管理</a></td>
    </tr>

    <tr>
        <td><a href="../apis_manage" target="mainFrame">&nbsp;&nbsp;接口测试用例管理</a></td>
    </tr>
    <tr>
        <td><a href="http://localhost:8089" target="mainFrame">&nbsp;&nbsp;性能测试</a></td>
    </tr>
</table>

</body>
</html>