Active-SQLAlchemy==0.4.0
alabaster==0.7.10
altgraph==0.15
asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
Babel==2.9.1
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.1
bcrypt==3.1.4
beautifulsoup4==4.6.0
bleach==2.1.3
boto==2.48.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
colorama==0.3.9
configparser==3.5.0
constantly==15.1.0
crypto==1.4.1
cryptography==2.2.2
cssselect==1.0.3
cx-Oracle==6.2.1
cycler==0.10.0
Cython==0.28.2
ddt==1.1.2
decorator==4.3.0
dis3==0.1.2
Django==1.11.16
django-bootstrap-pagination==1.6.4
django-bootstrap-toolkit==2.15.0
django-bootstrap3==9.1.0
django-bootstrap4==0.0.7
django-filter==2.0.0
django-ipware==2.1.0
django-pagination==1.0.7
django-pagination-bootstrap==1.2.4
django-redis==4.9.0
django-redis-sessions==0.6.1
django-tinymce==2.7.0
djangorestframework==3.8.2
docutils==0.14
entrypoints==0.2.3
enum34==1.1.6
et-xmlfile==1.0.1
Flask==0.12.2
Flask-SeaSurf==0.2.2
fudge==1.1.1
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.16.0
futures==3.2.0
get==1.0.2
gevent==1.2.2
greenlet==0.4.13
guppy==0.1.10
html5lib==1.0.1
httplib2==0.11.3
humanize==0.5.1
hyperlink==18.0.0
idna==2.6
imagesize==1.0.0
incremental==17.5.0
ipaddress==1.0.22
ipykernel==4.8.2
ipython==5.6.0
ipython-genutils==0.2.0
ipywidgets==7.2.1
itsdangerous==0.24
jdcal==1.4
Jinja2==2.10
jsonpickle==1.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kiwisolver==1.0.1
lml==0.0.4
locustio==0.8.1
lxml==4.2.1
macholib==1.9
Markdown==3.0.1
MarkupSafe==1.0
matplotlib==2.2.2
memory-profiler==0.52.0
mistune==0.8.3
mock==2.0.0
mod-wsgi==4.5.24+ap24vc9
more-itertools==4.1.0
mpmath==1.0.0
msgpack-python==0.5.6
mysql-connector-python==2.1.3
MySQL-python==1.2.5
naked==0.1.31
nbconvert==5.3.1
nbformat==4.4.0
nose==1.3.7
notebook==5.4.1
numpy==1.14.5
oauth2==1.9.0.post1
opencv-contrib-python==3.4.1.15
opencv-python==3.4.1.15
openpyxl==2.5.9
Orange==2.7.8
packaging==17.1
Paginator==0.2.0
pandas==0.22.0
pandocfilters==1.4.2
parsel==1.4.0
passlib==1.7.1
pathlib2==2.3.0
pbr==4.0.2
pdfminer3k==1.3.1
pefile==2017.11.5
pg8000==1.10.2
pickleshare==0.7.4
PIL==1.1.7
Pillow==5.1.0
pluggy==0.6.0
ply==3.11
post==1.0.1
prompt-toolkit==1.0.15
psutil==5.4.5
public==1.0.1
py==1.5.3
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
pycrypto==2.6.1
PyDispatcher==2.0.5
pyexcel-io==0.5.9.1
pyexcel-xls==0.5.8
pyexcel-xlsx==0.5.6
Pygments==2.2.0
pyHook==1.5.1
PyInstaller==3.3.1
pylot==0.0.4
pymongo==3.6.1
pymssql==2.1.3
PyMySQL==0.6.6
pyOpenSSL==17.5.0
pyparsing==2.2.0
pyreadline==2.1
pytesseract==0.2.0
pytest==3.5.0
python-dateutil==2.7.2
python-slugify==1.2.5
pytz==2018.4
pywin32==216
pywinpty==0.5.1
pyyaml==3.12
pyzmq==17.0.0
qtconsole==4.3.1
query-string==1.0.1
queuelib==1.5.0
redis==2.10.6
request==1.0.1
requests==2.18.4
robotframework==3.0.3
robotframework-ride==1.5.2.1
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==3.1.1
scandir==1.7
scikit-learn==0.19.1
scipy==0.13.3
Scrapy==1.5.0
scrapy-redis==0.6.8
scrapyd==1.2.0
selenium==3.11.0
Send2Trash==1.5.0
SendKeys==0.3
service-identity==17.0.0
SES-Mailer==0.13.0
setupfiles==0.0.13
shellescape==3.4.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
snowballstemmer==1.2.1
Sphinx==1.7.2
sphinx-rtd-theme==0.3.0
sphinxcontrib-websupport==1.0.1
SQLAlchemy==0.9.8
stevedore==1.28.0
sympy==1.1.1
terminado==0.8.1
tesseract==0.1.3
testpath==0.3.1
tornado==5.0.2
traitlets==4.3.2
Twisted==17.9.0
twitter-oauth==0.2.0
typing==3.6.4
Unidecode==1.0.22
update==0.4.4
urllib3==1.22
virtualenv==15.2.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
virtualenvwrapper-win==1.2.5
w3lib==1.19.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.2.1
win-unicode-console==0.5
xlrd==1.1.0
xlwt==1.3.0
zope.interface==4.4.3
tttt

